body {
    height: 100%;
    margin: 100;
    padding: 0;
  font-family: 'Inter', system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial;
  background: #000;
  color: #ddd;
    display: flex;
  line-height: 1.6;
  -webkit-font-smoothing:antialiased;
  -moz-osx-font-smoothing:grayscale;
  gap: 3.5rem;
    justify-content: center;
    align-items: center;
}
/* Külső form tartó */
.form-tarolo {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* A box */
.form-container {
    background: #ffffff10; /* átlátszó üveg hatás */
    backdrop-filter: blur(8px);
    padding: 30px 40px;
    border-radius: 12px;
    width: 350px;
    border: 1px solid rgba(255,255,255,0.15);
    box-shadow: 0 0 25px rgba(0,0,0,0.4);
    color: #fff;
    text-align: center;
}

/* Cím */
.form-container h2 {
    margin-bottom: 20px;
    font-weight: 600;
    color: #fff;
}

/* Input mezők */
.form-container input {
    width: 100%;
    padding: 10px;
    border-radius: 6px;
    border: 1px solid #444;
    margin-top: 6px;
    background: #222;
    color: #fff;
    outline: none;
    transition: 0.3s;
}

.form-container input:focus {
    border-color: #2f6ece;
}

/* Label */
.form-container label {
    font-size: 14px;
    margin-top: 10px;
    display: block;
    text-align: left;
}

/* Gomb */
.form-container button {
    width: 100%;
    margin-top: 15px;
    padding: 12px;
    background: #007bff;
    color: #fff;
    font-size: 15px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: 0.3s;
}

.form-container button:hover {
    background: #005fcc;
}