.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 40px;
    flex-wrap: wrap;
}

.footer-logo h2 {
    color: #ff4c00;
    font-size: 24px;
    margin: 0;
}

.footer-links ul {
    list-style: none;
    padding: 0;
    color: #000000;
}

.footer-links ul li {
    margin-bottom: 10px;
    color: #000;
}

.footer-links ul li a {
    color: #000000;
    text-decoration: none;
    transition: color 0.3s;
}

.footer-links ul li a:hover {
    color: #000000;
}
.footer-bottom {
    text-align: center;
    padding: 20px;
    border-top: 1px solid #000000;
    font-size: 14px;
}
