.logo {
  font-size: 28px;
  font-weight: 800;
  text-align: center;
  color: white;
  line-height: 1.1;
}

header {
  background: #555454;
  padding: 40px 20px;
}

.navbar {
  background-color: #050514;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 40px;
  text-transform: lowercase;
  letter-spacing: 0.5px;
}

.navbar ul  {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 30px;
  align-items: center;
}

.navbar a {
  color: white;
  text-decoration: none;
  font-weight: 600;
  transition: 0.3s;
}
.navbar a.active {
    color: #ffcc00;
}
.navbar a:hover {
  color: #ffcc00;
}
@media (max-width: 768px) {
      .navbar {
        flex-direction: column;
        gap: 10px;
      }
      .navbar ul {
        flex-wrap: wrap;
        justify-content: center;
      }
    }